h1{
    color: red;
}
h2{
    color: red;
     
}
 ol li{
    color: brown;
    font-size: large;
    
}
ul li{
    color:brown;
    font-size: large;
    word-spacing: 7px;
    line-height: 25px;
}
p{
    color: darkred;
    font-size: large;
}
span1{
    text-decoration: line-through;
} 
span2{
    background-color: yellow;
}
span3{
    text-decoration-line: underline;
}
span4{
    background-color: yellow;
}
span5{
    background-color: yellow;
}